{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
<hr class="my-4">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>TO-DO LIST</center></h1>
    <p class="lead"><center>text</center></p>
    <p class="lead"><center>text</center></p>
    <p class="lead"><center>text</center></p>
    <p class="lead"><center>text</center></p>
    <div class="text-center">
  </div>
    <hr class="my-4">
  </div>
</div>
{% endblock content %}
  